.btn{
background-color: rgb(199, 110, 61);/* the background color of the button */
color: white;/* the color of the letter of the button */
border: 2px solid transparent ; /* styles of button edges */
padding: 20px; /* thickness of the button */
text-align: center; /* button text alignment */
text-decoration: none;
display: inline-block;
Border-radius:10px; /* button shape */
}
.btn:hover{
opacity: 0.8;
color:#f2f2f2;
border: 1px solid transparent;
padding: 20px;
text-align: center;
text-decoration: none;

Border-radius:10px;
}
/* button styles when you hover your mouse over it */
.informacion, .suceso, .error {

font-family: 'open sans';
font-size: 20px;
margin: 10px auto;
Border-radius:10px;
  color:#000;
}
.msg{

  margin: 0px;
  color: #f2f2f2;
}
/* general styles of the message */
.informacion {
  background-color: #F7F79C; /* the background color */
  border:1px solid transparent;
  /* background-repeat: no-repeat; /* prevents the image from recurring */ */
  /* background-position: left center; /* location of the image */ */
  margin: 0px;
  padding: 20px;
  /* background-image: url(error.png); /* the representative image */ */
  /* the color of the text */
  Border-radius:10px;
  font-size: 20px;
}
.suceso {
  background-color: #F7F79C; /* the background color */
  border:1px solid transparent;
  /* background-repeat: no-repeat; /* prevents the image from recurring */ */
  /* background-position: left center; /* location of the image */ */
  margin: 0px;
  padding: 20px;
  /* background-image: url(error.png); /* the representative image */ */
  /* the color of the text */
  Border-radius:10px;
  font-size: 20px;

}
.error {
  background-color: #F7F79C; /* the background color */
  border:1px solid transparent;
  /* background-repeat: no-repeat; /* prevents the image from recurring */ */
  /* background-position: left center; /* location of the image */ */
  margin: 0px;
  padding: 20px;
  /* background-image: url(error.png); /* the representative image */ */
  /* the color of the text */
  Border-radius:10px;
  font-size: 20px;
}
#cerrar {display: none;} /* impide que se vea el checkbox */
.inputlabel {display: inline-block;height: 20px;line-height: 20px;padding: 5px 10px ;color: #000;position:absolute;top:15px;left:245px;} /* position and style of the X */
#cerrar:checked ~ .error {display:none;} /* hides the error message when clicking on the X */
#cerrar:checked ~ .suceso {display:none;} /* hides the event message when clicking on the X */
#cerrar:checked ~ .informacion {display:none;}
/* hides the information message when clicking on the X */
#cerrar ~ .inputlabel:before {content: "X"} /* shows an X to close the message */
#cerrar:checked ~ .inputlabel:before {content: "";} /* hides the X when the message is hidden */
